a{
    text-decoration: none;
}

body{
    font-family: $minion, Arial, sans-serif;
    font-size: $baseFontSize;
    color:$customBlue;
    background-image: url("../images/bg-pattern.jpg");
    background-repeat: repeat;
    width: 100%;
}

header{
    height: 100px;
    width: 100%;
    padding-top: 23px;
    color:$white;
    font-family:$intro;
    .logo{
        position: absolute;
        width: 100%;
        height: 1px;
        z-index: 10;
        img{
            width: 273px;
            height: 151px;
            display: inline-block;
        }
        &::before,
        &::after{
        content:"";
        height:1px;
        background-color:white;
        display: inline-block;
        }

        &::before{
            width: 32px;
            margin-right: 21px;
        }
        &::after{
            width: calc( 100% - (45px + 313px));
            margin-left: 16px;
        }
    }
    .header__navigation{
        @include flexbox();
        @include flexJustContent(center);
        z-index: 20;
        &__region{
            height: 103px;
            @include flexbox();
            @include flexJustContent(center);
            @include flexDirection(column);
            .nav{
                @include flexAlignSelf(flex-end);
                z-index: 30;
                ul{
                    li{
                        float: left;
                        .nav__item{
                            font-size: $linkFontSize;
                            color:$white;
                            float: left;
                            padding-left: $paddingNavLinks;
                            padding-right: $paddingNavLinks;
                            padding-bottom: 37px;
                            border-bottom: 4px solid transparent;
                            &:hover,
                            &:active,
                            &:focus{
                                border-bottom: 4px solid $primaryOrange;
                            }
                        }
                        &::after{
                            content:"•";
                            color:$white;
                            width: 10px;
                            height: 10px;
                            padding-left: 30px;
                            padding-right: 30px;
                        }
    
                        &:last-child::after{
                            display: none;
                        }
                    }
                }
            }
        }
        &__phone{
            font-size: $phoneFontSize;
            padding-right: 43px;;
            padding-bottom: 30px;
            z-index: 20;
            @include flexAlignSelf(center);
            a{
                color:$white;
            }
        }
    }
    
}

main{
    width: 100%;
}


/* TOP SECTION */

.top-section{
    background-image: url("../images/top-bg.jpg");
    @include backgroundAlignment;
    height: 808px;
    position: relative;
    margin-top: -100px;
    padding-top: 201px;
    color:$white;
    text-align: center;

    .separator-bottom{
        @include separator;
        bottom: -27px;
    }

    .decorative-bean-1{
        @include decoBean;
        right: 100px;
        bottom: -100px;
    }

    .top-section__content__stars{
        color:$primaryOrange;
        margin-bottom: 34px;
        i{
            margin-right: 24px;
            &:last-child{
                margin-right: 0;
            }
        }
    }

    .top-section__content__pre-title{
        font-family: $playFair;
        margin-bottom: 58px;
        &::before,
        &::after{
            content:"";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 102px 3px 0;
            border-color: transparent #cdb47b transparent transparent;
            display: inline-block;
        }
        &::before{
            margin-right: 82px;
        }
        &::after{
            margin-left: 82px;               
            transform:rotate(180deg);
        }
    }
    .top-section__content__title{
        margin-bottom: 60px;
        h1{
        font-size: $title;
        font-family: $introRust;
            span{
                color:$primaryOrange;
            }
        }
    }
    .top-section__content__subtitle{
        font-family: $playFair;
        margin-bottom: 34px;
    }
    .top-section__content__decorative{
        color: $primaryOrange;
        font-size: 6px;
        &::before,
        &::after{
            content:"";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 102px 3px 0;
            border-color: transparent #cdb47b transparent transparent;
            display: inline-block;
        }
        &::before{
            margin-right: 4px;
        }
        &::after{
            margin-left: 4px;               
            transform:rotate(180deg);
        }
    }
    .top-section--button{
        width: 62px;
        height: 62px;
        display: block;
        margin: 70px auto 0;
        padding-top: 22px;
        border-radius: 200px;
        box-shadow: 0px 2px 5px 0 rgba(61, 61, 62, 0.15), 0px 8px 13px 0 rgba(92, 95, 101, 0.28);
        border: solid 0.5px $white;
        color:$primaryOrange;
    }
}