
/* PROGRAM SECTION */

.program{
    .decorative-bean-2{
        @include decoBean;
        height: 209px;
        left: 0;
        margin-top: 80px;
    }
    .decorative-bean-3{
        @include decoBean;
        height: 209px;
        right: 0;
        margin-top: 300px;
    }

    .header-section{
        margin-bottom: 103px;
        padding-top:100px; 
        
        .header-title{          
            h2{
                @include title-1($black, inline-block);
            }
            i{
                @include icon(37px,$black);
            }
        }
        .header-subtitle{
            @include subtitle-1($customBlue, 47px);
        }
    }

    .program__tabs{
        ul{
            @include flexbox;
            @include flexJustContent(center);
            margin-bottom: 34px;
            padding-bottom: 39px;
            border-bottom:1px solid $greyLines;

            li{
                @include flexbox;
                @include flexJustContent(center);
                @include flex(0 0 33%);
                max-width: 275px;
                @include title-2($tabsFontSize);
                margin-bottom: -41px;
                padding: 0 10px 0 10px;
                
                &.ui-tabs-active{
                    a{
                        color:$black;
                        border-bottom:4px solid $black;
                    }
                }
                &.ui-state-active
                &.ui-state-active,
                &.ui-state-focus,
                &.ui-corner{
                    outline: none;
                    border:none;
                }
                
                a{  
                    font-size: 21px;
                    color:$grey;
                    border-bottom: 4px solid transparent;
                    padding-bottom: 39px;
                    width: 100%;
                    text-align: center;
                    max-width: 255px;
                    &:hover{
                        color:$black;
                        border-bottom:4px solid $black;
                    }
                    
                }
            }
        }
        .tab__container{
            position: relative;
            
            .tab__container__basic{
                @include flexbox;
                @include flexJustContent(center);
                margin-bottom: 82px;

                img{
                    margin-right: 58px;
                    width: 60%;
                    max-width: 650px;
                    margin-top: 63px;
                    vertical-align: top;
                    z-index: 20;
                    max-width: 650px;
                }

                .tab__description{
                    width: 40%;
                    max-width: 486px;
                    margin-top: 63px;
                    vertical-align: top;
                    z-index: 20;
                    
                    h3{
                        font-family: $playFairExtra;
                        font-size: $tabsTitleSectionFontSize;
                        color:$titleBlack;
                        margin-top: 21px;
                        margin-bottom: 66px;
                    }
                    p{
                        font-family: $minion;
                        margin-bottom: 21px;

                        .fas,
                        .far{
                            padding-right: 16px;
                            font-size: 22px;
                            vertical-align: middle;
                        }

                        &.money{
                            font-family: $playFair;
                            font-size:$tabsMoneyFontSize;
                            margin-bottom: 29px;
                            span{
                                font-size:$tabsMoneySpanFontSize;
                            }
                        }
                    }

                    .button--dark{
                        background-color: $black;
                        width: 100%;
                        max-width: 248px;
                        color:$white;
                        font-size: $darkBtnFont;
                        &:hover{
                            background-color: transparent;
                            color:$black;
                        }
                    }
                }
            }

            .tab__background{
                font-family: $intro;
                font-size: $tabsBgFontSize;
                color:$lightGrey;
                position: absolute;
                right: 0;
                top: -49px;
            }

            .tab__expanded-info{
                .grid__item{
                    border-top:1px solid $topBoxGrey;
                    &:nth-child(2){
                        max-width: 325px;
                    }
                    &:nth-child(3){
                        max-width: 300px;
                    }

                    h4{
                        @include title-2($titleFontSize2);
                        margin-bottom: 43px;
                    }

                    p{
                        line-height: 2.2;
                        color:$customBlue;
                    }
                }
            }
        }

    }
}

.tab-table{
    margin-bottom: 140px;
    h4{
        @include title-2($titleFontSize2);
        margin-bottom: 25px;
    }
    table{
        border-collapse: collapse;
        width: 100%;
        max-width: 700px;

        td{
            padding: 14px 14px 10px;
            border:1px solid $black;
            letter-spacing: $letterSpacing;
    
            &:first-child{
                text-align: center;
            }
        }
    }    
}