.decorative-bean-5{
    @include decoBean;
    height: 200px;
    left: 0;
}

.separator-top{
    @include separator;
}

.gallery{
    background-color: #222121;
    background-image: url('../images/gallery-bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.gallery-content{

    .header-section{
        margin-bottom: 77px;
        padding-top:160px; 
        
        .header-title{          
            h2{
                @include title-1($white, inline-block);
            }
            i{
                @include icon(21px, $black);
            }
        }
        .header-subtitle{
            @include subtitle-1($white, 37px);
            max-width: 358px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}