.decorative-bean-6{
    @include decoBean;
    height: 275px;
    right: 33px;
    margin-top: -160px;
}
.testimonial-content{
    .header-section{
        margin-bottom: 77px;
        padding-top:85px; 
        
        .header-title{          
            h2{
                @include title-1($black, block);
            }
        }
        .header-subtitle{
            @include subtitle-1($customBlue, 47px);
        }
    }

    .testimonial-slider{
        width: 100%;
        max-width: 836px;
        text-align: center;
        margin:0 auto 107px;

        .item-image{
            position: relative;
            width: 173px;
            margin: 0 auto 38px;

            i{
                border-radius: 200px;
                background-color: #4267b2;
                color:$white;
                position: absolute;
                right: -18px;
                padding: 9px 13px;
                font-size: 22px;
                top: 30px;
            }
            img{
                width: 173px;
                height: 173px;
            }
        }

        h4{
            @include title-2($titleFontSize2);
            margin-bottom: 32px;
        }

        p{
            line-height: 35.5px;
        }
    }
}