.partners{
    background-color: rgba(0,0,0,.05);
    height: 564px;
}
.partners-content{
    .header-section{
        padding-top:136px; 
        margin-bottom: 77px;
        
        .header-title{          
            h2{
                @include title-1($black, inline-block);
            }
            i{
                @include icon(51px, $white);
            }
            &::after{
                content:"";
                height: 1px;
                width: 100%;
                max-width: 226px;
                margin: auto;
                background-color: $black;
                margin-top: 44px;
                display: block;
            }
        }
    }
    .partners-slider{
        max-width: 1090px;
        margin: auto;
    }

}