/* COLORS */
$white:#FFFFFF;
$black:#000000;
$grey:#adadad;
$greyLines:#c6c6c6;
$lightGrey:#dddddd;
$primaryOrange:#eab96a;
$secondaryOrange:#cdb47b;
$customBlue:#485260;
$titleBlack:#2b2b2b;
$topBoxGrey:#939393;
$checkColor:#6a9c00;
$noColor:#c20000;

/* FONT SIZE */

$baseFontSize:16px;
$linkFontSize:12.5px;
$phoneFontSize:27.5px;
$title:58px;
$secondTitle:50.5px;
$tabsFontSize:21px;
$tabsBgFontSize:202px;
$tabsTitleSectionFontSize:30.5px;
$tabsMoneyFontSize:58.8px;
$tabsMoneySpanFontSize:31.5px;
$darkBtnFont:14px;

/* PADDINGS AND MARGINS */
$paddingNavLinks:12px;


/* FONT FAMILY */
$intro:'Intro';
$introRust:'IntroRustG';
$minion:'Minion';
$playFair:'PlayfairDisplay';
$playFairExtra:'PlayfairDisplayExtra';

@font-face {
    font-family: "Intro";
    src: url('../customfonts/Intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "IntroRustG";
    src: url('../customfonts/IntroRustG-Base2Line.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Minion";
    src: url('../customfonts/MinionPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url('../customfonts/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PlayfairDisplayExtra";
    src: url('../customfonts/PlayfairDisplay-ExtraBold.ttf') format('ttf');
}

@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@mixin flexJustContent($justContent){
    justify-content: $justContent;
}

@mixin flexDirection($direction){
    flex-direction: $direction;
}

@mixin flexAlignSelf($alignSelf){
    align-self: $alignSelf;
}

@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
}

@mixin flexWrap($wrap){
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}
  
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

@mixin backgroundAlignment(){
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin imagesSeparator {
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
}


@mixin decoBean{
    position: absolute;
    z-index: 30;
}

/* GRID */

.grid {
    @include flexbox;
    @include flexWrap(wrap);
}

.grid__item {
    @include flexbox;
}

/*.grid {
    margin: -20px 0 0 -20px;
}

.grid > .grid__item {
    padding: 20px 0 0 20px;
}*/


.grid > .grid__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    @include flexDirection(column);
}


@media all and (max-width:750px) {

    .grid > .grid__item {
        @include flex(0 0 100%);
        max-width: 100%;
    }
}

@media all and (min-width:751px) {

    .grid > .grid__item {
        @include flex(1);
    }

    .grid--1 > .grid__item {
        @include flex(0 0 100%);
        max-width: 100%;
    }

    .grid--2 > .grid__item {
        @include flex(0 0 50%);
        max-width: 50%;
    }

    .grid--3 > .grid__item {
        @include flex(0 0 33.3333%);
        max-width: 33.3333%;
    }
}

[class*="--wrapper"] {
    margin: 0 auto;
    width: 100%;
    max-width: 1194px;
    height: 100%;
}

.button{
    font-family: $intro;
    border:1px solid $black;
    padding: 24px 70px;
}

a{
    text-decoration: none;
}

body{
    font-family: $minion, Arial, sans-serif;
    font-size: $baseFontSize;
    color:$customBlue;
    background-image: url("../images/bg-pattern.jpg");
    background-repeat: repeat;
    width: 100%;
}

header{
    height: 100px;
    width: 100%;
    padding-top: 23px;
    color:$white;
    font-family:$intro;
    .logo{
        position: absolute;
        width: 100%;
        height: 1px;
        z-index: 10;
        img{
            width: 273px;
            height: 151px;
            display: inline-block;
        }
        &::before,
        &::after{
        content:"";
        height:1px;
        background-color:white;
        display: inline-block;
        }

        &::before{
            width: 32px;
            margin-right: 21px;
        }
        &::after{
            width: calc( 100% - (45px + 313px));
            margin-left: 16px;
        }
    }
    .header__navigation{
        @include flexbox();
        @include flexJustContent(center);
        z-index: 20;
        .header__navigation__region{
            height: 89px;
            @include flexbox();
            @include flexJustContent(center);
            @include flexDirection(column);
            .nav{
                @include flexAlignSelf(flex-end);
                z-index: 30;
                ul{
                    li{
                        float: left;
                        .nav__item{
                            font-size: $linkFontSize;
                            color:$white;
                            float: left;
                            padding-left: $paddingNavLinks;
                            padding-right: $paddingNavLinks;
                            padding-bottom: 37px;
                            border-bottom: 4px solid transparent;
                            &:hover,
                            &:active,
                            &:focus{
                                border-bottom: 4px solid $primaryOrange;
                            }
                        }
                        &::after{
                            content:"•";
                            color:$white;
                            width: 10px;
                            height: 10px;
                            padding-left: 30px;
                            padding-right: 30px;
                        }
    
                        &:last-child::after{
                            display: none;
                        }
                    }
                }
            }
        }
        .header__navigation__phone{
            font-size: $phoneFontSize;
            padding-right: 43px;;
            padding-bottom: 30px;
            z-index: 20;
            @include flexAlignSelf(center);
            a{
                color:$white;
            }
        }
    }
    
}

main{
    width: 100%;
}


/* TOP SECTION */

.top-section{
    background-image: url("../images/top-bg.jpg");
    @include backgroundAlignment;
    height: 808px;
    position: relative;
    margin-top: -100px;
    padding-top: 201px;
    color:$white;
    text-align: center;
    .top-section__image-separator{
        @include imagesSeparator;
        bottom: -27px;
        img{
            width: 100%;
            height: 142px;
        }   
    }
    .top-section__content__stars{
        color:$primaryOrange;
        margin-bottom: 34px;
        i{
            margin-right: 24px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .top-section__content__pre-title{
        font-family: $playFair;
        margin-bottom: 58px;
        &::before,
        &::after{
            content:"";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 102px 3px 0;
            border-color: transparent #cdb47b transparent transparent;
            display: inline-block;
        }
        &::before{
            margin-right: 82px;
        }
        &::after{
            margin-left: 82px;               
            transform:rotate(180deg);
        }
    }
    .top-section__content__title{
        margin-bottom: 60px;
        h1{
        font-size: $title;
        font-family: $introRust;
            span{
                color:$primaryOrange;
            }
        }
    }
    .top-section__content__subtitle{
        font-family: $playFair;
        margin-bottom: 34px;
    }
    .top-section__content__decorative{
        color: $primaryOrange;
        font-size: 6px;
        &::before,
        &::after{
            content:"";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 3px 102px 3px 0;
            border-color: transparent #cdb47b transparent transparent;
            display: inline-block;
        }
        &::before{
            margin-right: 4px;
        }
        &::after{
            margin-left: 4px;               
            transform:rotate(180deg);
        }
    }
    .top-section--button{
        width: 62px;
        height: 62px;
        display: block;
        margin: 70px auto 0;
        padding-top: 22px;
        border-radius: 200px;
        box-shadow: 0px 2px 5px 0 rgba(61, 61, 62, 0.15), 0px 8px 13px 0 rgba(92, 95, 101, 0.28);
        border: solid 0.5px $white;
        color:$primaryOrange;
    }
    .decorative-bean-1{
        @include decoBean;
        right: 100px;
        bottom: -100px;
    }
}

/* PROGRAM SECTION */

.program{
    padding-top:100px; 
    .decorative-bean-2{
        @include decoBean;
        height: 209px;
        left: 0;
        margin-top: 80px;
    }
    .program__header__title{
        text-align: center;
        color:$black;
        margin-bottom: 103px;
        .program__header__title--main{ 
            margin-bottom: 47px;           
            h2{
                font-family: $introRust;
                display: inline-block;
                font-size: $secondTitle;
                vertical-align: middle;
            }
            i{
                vertical-align: middle;
                &:first-child{
                    margin-right: 37px;
                }
                &:last-child{
                    margin-left: 37px;
                }
            }
        }
        h3{
            color: $customBlue;
            font-family: $minion;
        }
    }
    .program__tabs{
        ul{
            @include flexbox;
            @include flexJustContent(center);
            margin-bottom: 34px;
            padding-bottom: 39px;
            border-bottom:1px solid $greyLines;
            li{
                @include flexbox;
                @include flexJustContent(center);
                @include flex(0 0 33%);
                max-width: 275px;
                font-family: $intro;
                font-size: $tabsFontSize;
                margin-bottom: -41px;
                padding: 0 10px 0 10px;
                
                &.ui-tabs-active{
                    a{
                        color:$black;
                        border-bottom:4px solid $black;
                    }
                }
                &.ui-tabs-active{
                    outline: none;
                    border:none;
                }
                
                a{
                    color:$grey;
                    border-bottom: 4px solid transparent;
                    padding-bottom: 39px;
                    width: 100%;
                    text-align: center;
                    max-width: 255px;
                    &:hover{
                        color:$black;
                        border-bottom:4px solid $black;
                    }
                    
                }
            }
        }
        .tab__container{
            position: relative;
            .tab__container__basic{
                @include flexbox;
                @include flexJustContent(center);
                margin-bottom: 82px;
                .decorative-bean-3{
                    @include decoBean;
                    height: 209px;
                    right: 0;
                    margin-top: 80px;
                }
                .tab__image{
                    margin-right: 58px;
                    width: 60%;
                    max-width: 650px;
                    margin-top: 63px;
                    vertical-align: top;
                    z-index: 20;
                    img{
                        width: 100%;
                        max-width: 650px;
                    }
                }
    
                .tab__description{
                    width: 40%;
                    max-width: 486px;
                    margin-top: 63px;
                    vertical-align: top;
                    z-index: 20;
                    
                    .tab__description__text{
                        h3{
                            font-family: $playFairExtra;
                            font-size: $tabsTitleSectionFontSize;
                            color:$titleBlack;
                            margin-top: 21px;
                            margin-bottom: 66px;
                        }
                        p{
                            font-family: $minion;
                            margin-bottom: 21px;
    
                            .fas,
                            .far{
                                padding-right: 16px;
                                font-size: 22px;
                                vertical-align: middle;
                            }
    
                            &.money{
                                font-family: $playFair;
                                font-size:$tabsMoneyFontSize;
                                margin-bottom: 29px;
                                span{
                                    font-size:$tabsMoneySpanFontSize;
                                }
                            }
                        }
                        .button--dark{
                            background-color: $black;
                            width: 100%;
                            max-width: 248px;
                            color:$white;
                            font-size: $darkBtnFont;
                        }
                    }
                }
            }

            .tab__background{
                font-family: $intro;
                font-size: $tabsBgFontSize;
                color:$lightGrey;
                position: absolute;
                right: 0;
                top: -49px;
            }

            .tab__expanded-info{
                .grid__item{
                    border-top:1px solid $topBoxGrey;
                    &:nth-child(2){
                        max-width: 325px;
                    }
                    &:nth-child(3){
                        max-width: 300px;
                    }

                    h4{
                        margin-bottom: 43px;
                        font-family: $intro;
                    }

                    p{
                        line-height: 2.2;
                        color:$customBlue;
                    }
                }
            }
        }

    }
}