.bottom {
    padding: 0;
    @include backgroundAlignment;
    z-index: 40;
    background-image: url('../images/footer-bg.jpg');
    color:$white;

    &-content{
        .header-section{
            padding-top:24px; 
            margin-bottom: 68px;
            
            .header-title{          
                h2{
                    @include title-1($white, block);
                }
            }
        }

        @media all and (min-width: $desktopXS) {
            padding: 0 20px;
        }
    }

    &-description{
        margin-bottom: 42px;
        text-align: justify;
        color:$white;
        line-height: 27px;

        @media all and (min-width: $notMobile) {
            .grid__item{
                padding: 0 26px 0 0;
            }
        
            .grid__item + .grid__item{
                padding: 0 0 0 26px;
            }
        }

        @media all and (max-width: $mobile) {
            .grid__item{
                padding: 0 0 10px;
            }
        }
    }

    .footer{
        margin-bottom: 47px;
        padding: 0;
        background-color:rgba($color: $black, $alpha: 0.3);
        border:1px solid $white;

        &-nav{
            ul{
                @include flexbox();
                @include flexJustContent(center);
                li{
                    padding-top: 40px;
                    padding-bottom: 40px;

                    .nav__item{
                        padding-left: $paddingNavLinks;
                        padding-right: $paddingNavLinks;
                        font-family: $intro;
                        font-size: $linkFontSize;

                        &:hover,
                        &:active,
                        &:focus{
                            opacity: 0.6;
                        }
                    }

                    &::marker{
                        display: none;
                    }

                    &::after{
                        content:"•";
                        width: 10px;
                        height: 10px;
                        padding-left: 30px;
                        padding-right: 30px;

                        @media all and (max-width: $mobile) {
                            padding-left: 5px;
                            padding-right: 5px;
                        }
                    }

                    &:last-child::after{
                        display: none;
                    }
                }
                @media all and (max-width: $mobile) {
                    flex-wrap: wrap;

                    li{
                        width: 100%;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        text-align: center;

                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
        &-contact-box{
            font-family: $intro;
            font-size:$footerContact;
            color:$white;
            border-top:1px solid $white;
            
            .grid__item{
                padding:39px 0 29px 0;

                @include flexAlignItem(center);
                border-bottom:.5px solid $bottomBoxLineGrey;
                border-right:.5px solid $bottomBoxLineGrey;

                &:nth-child(3),
                &:nth-child(6){
                    border-right:none;
                }

                &:nth-child(n+4){
                    padding:54px 0 48px 0;
                }

                i{
                    font-size:$footerIcons;
                }

                @media all and (max-width: $mobile) {

                    &:nth-child(4){
                        @include order(2);
                    }

                    &:nth-child(2){
                        @include order(3);
                    }
                    &:nth-child(5){
                        @include order(4);
                    }

                    &:nth-child(3){
                        @include order(5);
                    }
                    &:nth-child(6){
                        @include order(6);
                    }
                }
            }
        }

        @media all and (max-width: $desktopS) {
            width: 96%;
        }
    }

    &-disclaimer{
        @include flexbox();
        @include flexJustContent(center);
        @include flexAlignItem(center);
        padding-bottom: 47px;
        
        span + span{
            font-family: $intro;
            font-size: $linkFontSize;

            a{
                text-decoration: underline;
            }

            &::before{
                content:"";
                height: 16px;
                width: 1px;
                display: inline-block;
                background-color: $white;
                vertical-align: middle;
                margin: 0 20px;
            }
        }
        
        @media all and (max-width: $mobile) {
            display: block;
            text-align:center;

            span,
            span + span{
                width: 100%;
                padding: 0 0 10px;
                display: block;

                &::before{
                    display: none;
                }
            }
    
        }
    }

}