/* COLORS */
$white: #FFFFFF;
$black: #000000;
$primaryOrange: #eab96a;
$secondaryOrange: #cdb47b;
$customBlue: #485260;
$grey: #adadad;
$greyLines: #c6c6c6;
$lightGrey: #dddddd;
$titleBlack: #2b2b2b;
$topBoxGrey: #939393;
$bottomBoxLineGrey:#4d4d4d;
$checkColor: #6a9c00;
$noColor: #c20000;

/* FONT SIZE */

$baseFontSize: 16px;
$linkFontSize: 12.5px;
$phoneFontSize: 26px;
$mainTitle: 58px;
$secondTitle: 50.5px;
$tabsFontSize: 21px;
$tabsBgFontSize: 202px;
$tabsTitleSectionFontSize: 30.5px;
$tabsMoneyFontSize: 58.8px;
$tabsMoneySpanFontSize: 31.5px;
$darkBtnFont: 14px;
$titleFontSize2: 17.5px;
$footerContact:15px;
$footerIcons:33px;
$mainTitleMobile: 48px;
$secondTitleMobile:40px;

$letterSpacing: -0.16px;

/* PADDINGS AND MARGINS */
$paddingNavLinks: 12px;


/* FONT FAMILY */
$intro: 'Intro';
$introRust: 'IntroRustG';
$minion: 'Minion';
$playFair: 'PlayfairDisplay';
$playFairExtra: 'PlayfairDisplayBlack';

/* SCREEN BREAKPOINTS */
$mobileS:360px;
$mobile:750px;
$notMobile:751px;
$tablet:1024px;
$desktopXS:1200px;
$desktopS:1366px;
$desktopM:1500px;
$desktopL:1800px;